.footer {
  background-color: #242a2c;
  padding: 50px 0 250px;
  color: #454e51;
  font-size: 14px;
}
.footer__logo {
  text-transform: uppercase;
}
.footer__links{
  padding-left: 40px;
}
.footer__links a {
  color: #454e51;
  display: block;
  font-weight: 700;
  text-decoration: none;
}